{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BAK BAK KENTUCKY</title>
		<style>
			body {
				margin: 0;
				overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
			}
            html, body   {
                height: 100%;
            }
		</style>
		<link rel="icon" href="{% static 'main/images/favicon.png' %}" />
	</head>
	<body>
		<script src="{% static 'kaboom/utils.js' %}"></script>
		<script src="{% static 'kaboom/kaboom.js' %}"></script>
		<!-- <script src="https://unpkg.com/kaboom/dist/kaboom.js"></script> -->
		<script src="{% static 'kaboom/game.js' %}"></script>

	</body>
</html>
